<!DOCTYPE html>
<html>
    <head>
        <title>rachel's boba stats</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto:ital,wght@1,300&family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="stylesheet" type= text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    

    <body>
        <div class = "title">
            <h1>rachel's bubble tea stats</h1>
        </div>
        <a href="orders.txt" class = "button">See the raw data!</a>
        <!--
        <div class = "lastupdate">
            <p class = "update-label">last updated</p>
            <p class = "update">on {{ month }} {{ day }}, {{ year }} at {{ time }}</p>
        </div>
         -->
        <div class = "stats">
            <p class = "label">total bobas consumed since Jan 1, 2021: </p>
            <p class = "num">{{ stats.total_orders }}</p>
            <p class = "label">total bobas consumed in 2023 so far:</p>
            <p class = "num">{{ stats.orders_23 }}</p>
            <p class = "label">percentage of boba consumed with mango popping bubbles: </p>
            <p class = "num">{{ stats.orders_with_mpopping / stats.total_orders * 100 }}%</p>
            <p class = "label">percentage of mango flavored popping bubbles given that order contained popping bubbles:</p>
            <p class = "num">{{ stats.orders_with_mpopping / stats.orders_with_popping *100 }}%</p>
            <p class = "label">most frequented bubble tea store to date:</p>
            <p class = "num">{{ stats.most_frequented_store }}, with {{ stats.most_frequented_store_num }} visits</p>
            <p class = "label">most common order at {{ stats.most_frequented_store }}:</p>
            <p class = "num">{{ stats.bystore_flavor }}, with {{ stats.bystore_flavor_num }} orders</p>
        </div>
    </body>
</html>