<!DOCTYPE html>
<html>
    <head>
        <title>rachel's boba consumption</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    </head>
    

    <body>
        <div class = "lastupdate">
            <p class = "update-label">last updated</p>
            <p class = "update">on {{ month }} {{ day }}, {{ year }} at {{ time }}</p>
        </div>
        <div class = "totals">
            <p class = "total-label">total bobas consumed since Jan 1, 2021: </p>
            <p class = "total-num">{{ total_orders }}</p>
        </div>
    </body>
</html>